* {
    font-family: 'Josefin Slab', serif;
}

/*Initial Margin for formatting. NEED TO CHANGE LATER*/
main {
    margin: 0 223px 0 223px;
}

/*Initial Margin for formatting. NEED TO CHANGE LATER*/
footer {
    margin: 0 223px 0 223px;
}

footer i {
    font-size: 25px;
}

.title {
    height: 250px;
}

.login-icon {
    font-size: 150px;
}

.modal-body button {
    width: fit-content;
}

.carousel-inner {
    display: flex;
}

/*This .custom-img is in the testimonials.html*/
.custom-img {
    width: 200px;
    height: 200px;
}

.image-container {
    width: 200px;
    height: 200px;
}

.image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.boot-collection button {
    width: fit-content;
}

.animal {
    max-width: 100%;
}

.carousel-inner {
    width: 100%;
    height: 500px; /* Set a fixed height for the carousel */
    overflow: hidden; /* Hide overflowing content */
}

.carousel-item {
    transition: transform 1s ease; 
    will-change: transform;
}

.carousel-boot-one {
    position: relative;
    top: -475px;
}

.carousel-boot-three {
    position: relative;
    top: -425px;
}

.carousel-boot-four {
    position: relative;
    top: -425px;
}

.carousel-boot-five {
    position: relative;
    top: -100px;
}

.carousel-shoe-one {
    position: relative;
    top: -100px;
}

.carousel-shoe-two {
    position: relative;
    top: -300px;
}

.carousel-shoe-three {
    position: relative;
    top: -300px;
}

.carousel-shoe-four {
    position: relative;
    top: -300px;
}

.carousel-shoe-five {
    position: relative;
    top: -100px;
}

.carousel-item .custom-bg {
    background-color: rgba(2, 36, 61, .7)
}

.custom-bg {
    width: 100%;
    left: 0;
}

.carousel-caption a {
    text-decoration: none;
    color: white;
}

.accordion {
    width: 100%;
}

.mission-statement {
    text-indent: 20px;
}

pre {
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

code {
    display: block;
    white-space: pre-wrap;
}

.boot-statement {
    text-indent: 20px;
}

